@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f7fa;
  color: hsl(0, 0%, 13%);
  margin: 0;
  padding: 0;
}
